# 2. Variables and Statements

## 2.1 Variables

<b>Variable</b> - is a name that refers to a value

In [3]:
n = 17

# n is the name of my variable
# The variable name refers to a space in computer memory that holds a value

## Assignment Statement

The assignment statement has 3 parts:
* the name of the variable
* the equal sign --> The assignment operator
* an expression to the right of the assignment operator

In [4]:
pi = 3.141592653589793

# our expression will be a string - still an expression but a series of characters
# contained in quotes
message = 'And now for something completely different'

In [5]:
message

'And now for something completely different'

In [6]:
n

17

In [7]:
pi

3.141592653589793

In [8]:
n + 25

42

In [9]:
2 * pi

6.283185307179586

In [10]:
round(pi)

3

In [11]:
len(message)
pi = π
print(pi)

NameError: name 'π' is not defined

## 2.2 State Diagram

<b>State Diagram</b> - is a figure that shows what state each of the variables is in.

<img src="https://allendowney.github.io/ThinkPython/_images/54319c437cca81caa5fa9ee52a1edfb01810e693b7ebd67c56de713f1d132655.png">

## 2.3 Variable Names

There are rules to naming variables:

- The only punctuation that can appear in a variable name in Python is _
- You cannot start a variable name with a number
- You cannot use Python keywords as a variable names

### Example Variable Names
* your_name
* yourName
* YourName
* mph
* x

### Bad Variable Names

In [ ]:
million! = 1000000

SyntaxError: invalid syntax (347180775.py, line 1)

In [ ]:
76trombones = 'big parade'

SyntaxError: invalid decimal literal (3381618747.py, line 1)

In [ ]:
trombones76 = 'big parade'

In [ ]:
trombones76

'big parade'

In [ ]:
class = 'Self-Defence Against Fresh Fruit'

SyntaxError: invalid syntax (2069597409.py, line 1)

In [ ]:
print = 'This is my print statement'

In [ ]:
print

'This is my print statement'

In [ ]:
True = 'This is my boolean'

SyntaxError: cannot assign to True (940649374.py, line 1)

# 2.4 The Import Statement

In [ ]:
import math

In [ ]:
math.pi

In [ ]:
math.sqrt(25)

In [ ]:
math.pow(5, 2)

In [ ]:
5 ** 2

# 2.5 Expressions and statements

In [13]:
import math
n = 17
19 + n + round(math.pi) * 2

42

<b>Satement</b> - is a unit of code that has an effect, but no value. For example, assignment statement --> n = 17 - creates a variable and gives it a value, but the statement itself has no value.

## 2.6 The Print Function

The print() function is one of Python's primary output functions.

In [14]:
n + 1

18

But if you evaluate more than one expression, only the value of the last one is displayed.

In [15]:
n + 2
n + 3

20

To display more than one value, you can use the print function.

In [16]:
print(n+2)
print(n+3)

19
20

It also works with floating-point numbers and strings.
You can also use a sequence of expressions seperated by commas.

In [17]:
print('The value of pi is approximately', math.pi)

The value of pi is approximately 3.141592653589793

## 2.7 Arguments

<b>Argument</b> - When you call a function, the expression that is placed inside of parenthesis is called an argument.

* It is only called an argument when the function is being called.
* When a function is being defined, we call the expression(s) inside of the parenthesis is called a Parameter.

In [18]:
int('101')

101

In [21]:
num = '101'
print(2 * num)
num = int(num)
print(2 * num)

101101
202

In [22]:
# Functions can accept multiple arguments
math.pow(5, 2)

25.0

In [24]:
# Option additional arguments
int('101', 2) # The 2 refers to what number base we are converting --> Binary

5

In [25]:
round(math.pi, 3)

3.142

In [26]:
# If you use more arguments than the function allows
float('123.0', 2)

TypeError: float expected at most 1 argument, got 2

In [27]:
float('123.0')

123.0

In [28]:
math.pi(2)

TypeError: 'float' object is not callable

In [29]:
math.sqrt('123')

TypeError: must be real number, not str

## 2.8 Comments

In [30]:
# number of seconds in 42:42
seconds = 42 * 60 + 42

In [31]:
miles = 10 / 1.61 # 10 kilometers in miles

In [32]:
# Comments must be descriptive and not just repeat the code that comes with it
v = 8   # assign 8 to v
v = 8   # velocity in mph