# Programmatic Thinking

## 1.1 Arithmatic Operators

<font color="red">Arithmetic Operator </font> - Symbols that represent an arithmetic operation. + - / * ** //

In [1]:
30 + 12

42

In [2]:
43 - 1

42

In [3]:
6 * 7

42

In [4]:
84 / 2

42.0

<b>Integers</b> - Represents numbers with no fractional or decimal part

<b>Floating-point numbers</b> - Represent integers and numbers with a decimal point

In [5]:
84 // 2 # Floor Division (Integer Division)- it divides and only gives you the numbers before the decimal

42

In [8]:
85 // 2

42

In [9]:
# Exponents - when you raise a number to a power of another number
7 ** 2

49

In [10]:
7 ** 2.5

129.64181424216494

In [11]:
# 7 ^ 6 - in some languages use a caret for exponents

## 1.2 Expressions

<b>Expression</b> - A collection of operators and numbers

In [12]:
6 + 6 ** 2

42

In [13]:
12 + 5 * 6

42

In [14]:
(12 + 5) * 6

102

## 1.3 Arithmetic Functions

In [15]:
round(42.2) # round the number in the parenthesis

42

In [16]:
round(41.6)

42

In [17]:
round(41.5)

42

In [18]:
# the abs function - computes the absolute value of a number
abs(42)

42

In [19]:
abs(-42)

42

In [20]:
abs 42

SyntaxError: invalid syntax (816474439.py, line 1)

## 1.4 Strings

<b>Strings</b> - In python or in any other programming lanuage, strings represent a sequence of characters contained in quotes (either single or double quotes).

In [21]:
'Hello'

'Hello'

In [1]:
'world'

'world'

In [2]:
"Hello World!'

SyntaxError: unterminated string literal (detected at line 1) (3155307703.py, line 1)

## + Operator with Strings:

<b>Concatination</b> - Taking multiple strings and putting them together

In [3]:
'hello ' + "world"

'hello world'

## *operator with strings
<li>it makes multiple copys of a string and concatinates them together</li>

In [4]:
'span, ' * 4

'span, span, span, span, '

## String Functions

In [5]:
len('spam')

4

## 1.5 Values and Types

Multiple types of data:
* Integers
* Floats
* Strings
* Boolean
* NULL

<b>Type</b> - What kind of value is the data that we are using. Values can belong to a type of data.

In [1]:
# Python Type Function

type(2)

int

In [2]:
type(2.4)

float

In [3]:
type(True)

bool

In [4]:
type("Yes")

str

In [5]:
int(42.9)

42

In [6]:
float(42)

42.0

In [7]:
str(42)

'42'

In [8]:
'42' + '5'

'425'

In [9]:
"126" / 3

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [10]:
int(126) / 3

42.0

In [11]:
age = input("Please Enter your Age: ")

birthYear = 2025 - age
print(birthYear)

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [12]:
age = int(input("Please Enter Your Age: "))

birthYear = 2025 - age
print(birthYear)

2009

In [13]:
1,000,000

(1, 0, 0)

In [14]:
1000000

1000000

In [15]:
1.000.000

SyntaxError: invalid syntax (1797962719.py, line 1)

In [16]:
1024

1024

In [21]:
round(42.5)

42

# 1.9.5 Exercise

The following questions give you a chance to practice writing arithmetic expressions.

1. How many seconds are there in 42 minutes 42 seconds
2. How many miles are there in 10 kilometers? HINT: there are 1.61km in a mile
3. If you run a 10 kilometer race in 42 minutes 42 seconds, what is your average pace in seconds per mile
4. What is your average pace in minutes and seconds per mile? 
5. What is your average speed in miles per hour?

In [23]:
# 1. How many seconds are there in 42 minutes 42 seconds

seconds = 42 * 60
tot_secs = seconds + 42
print(str(tot_secs) + " in 42 minutes 42 seconds")

2562 in 42 minutes 42 seconds

In [24]:
# 2. How many miles are there in 10 kilometers? HINT: there are 1.61km in a mile

miles = round(10 / 1.61, 2)

print(miles)

6.21

In [27]:
# 3. If you run a 10 kilometer race in 42 minutes 42 seconds, what is your average pace in seconds per mile?

secsPerMile = tot_secs / miles

print(round(secsPerMile, 2), "seconds per mile")

412.56 seconds per mile

In [38]:
# 4. What is your average pace in minutes and seconds per mile?
avg_pace = secsPerMile / 60

print(avg_pace)

6.876006441223833

In [33]:
# 5. What is your average speed in miles per hour
avg_mph = (avg_pace / 60)

print(avg_mph)

0.11460010735373055

In [41]:
hours = tot_secs / 3600 # convert total time to hours
avg_speed_mph = miles / hours

print(round(avg_speed_mph, 2), "is your average speed in mph")

8.73 is your average speed in mph